@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /**/
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
  margin-block: 4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.375rem;
  text-align: center;
  max-width: 24rem;
}

main h1 {
  color: var(--Very-Dark-Magenta);
  margin-bottom: 2rem;
}

main p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.container-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  margin-block-end: 2rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.stars img {
  padding-inline: .2rem;
}

.container-stars section {
  background-color: var(--Light-Grayish-Magenta);
  width: 100%;
  padding: 1rem;
  border-radius: .7rem;
  margin-block-end: 1rem;
}

.container-stars section h2 {
  color: var(--Very-Dark-Magenta);
  font-size: 1rem;
  margin-block-start: .8rem;
  font-weight: 700;
}

.container-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}


.container-quotes section {
  background-color: var(--Very-Dark-Magenta);
  padding: 1.5rem;
  border-radius: .6rem;
  margin-block-end: 1rem;
}

.container-quotes section .name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.container-quotes section .name img {
  border-radius: 22.5rem;
  width: 15%;
}

.container-quotes section .txt {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-inline-start: 1.5rem;
}

.container-quotes section .txt span {
  text-align: left;
}

.container-quotes section blockquote {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  color: var(--White);
  font-weight: 500;
  line-height: 1.6rem;
}

.white {
  color: var(--White);
  font-weight: 700;
}

.pink {
  color: var(--Soft-Pink);
}

/* FOOTER */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media all and (min-width: 48.75rem) {
  body {
    height: auto;
  }

  main {
    max-width: 90rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "top-left top-right"
      "cards cards";
  }

  .top-left {
    grid-area: top-left;
  }

  .top-right {
    grid-area: top-right;
  }

  .container-quotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 1.375rem;
    grid-auto-flow: row;
    grid-template-areas:
      "s1 s2 s3";
    grid-area: cards;
  }

  .s1 {
    grid-area: s1;
    height: 100%;
    margin-block-start: 2rem;
  }

  .s2 {
    grid-area: s2;
    height: 100%;
    margin-block-start: 4rem;
  }

  .s3 {
    grid-area: s3;
    height: 100%;
    margin-block-start: 6rem;
  }

  .container-stars {
    max-width: 90rem;
  }

  .container-stars .star1 {
    margin-inline-start: 1.5rem;
  }

  .container-stars .star2 {
    margin-inline-start: 3.5rem;
  }

  .container-stars .star3 {
    margin-inline-start: 5.5rem;
  }

  .attribution {
    margin-top: 5rem;
    font-size: xx-large;
    font-weight: 700;
  }

}