@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /**/
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
  margin-block: 4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.375rem;
  text-align: center;
}

main h1 {
  color: var(--Very-Dark-Magenta);
  margin-bottom: 2rem;
}

main p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.container-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-block-end: 2rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.stars img {
  padding-inline: .2rem;
}

.container-stars section {
  background-color: var(--Light-Grayish-Magenta);
  width: 100%;
  padding: 1rem;
  border-radius: .7rem;
  margin-block-end: 1rem;
}

.container-stars section h2 {
  color: var(--Very-Dark-Magenta);
  font-size: 1rem;
  margin-block-start: .8rem;
  font-weight: 700;
}

.container-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}


.container-quotes section {
  background-color: var(--Very-Dark-Magenta);
  padding: 1.5rem;
  border-radius: .6rem;
  margin-block-end: 1rem;
}

.container-quotes section .name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.container-quotes section .name img {
  border-radius: 22.5rem;
  width: 15%;
}

.container-quotes section .txt {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-inline-start: 1.5rem;
}

.container-quotes section .txt span {
  text-align: left;
}

.container-quotes section blockquote {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  color: var(--White);
  font-weight: 500;
  line-height: 1.6rem;
}

.white {
  color: var(--White);
  font-weight: 700;
}

.pink {
  color: var(--Soft-Pink);
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}